# PROJECT : Wrangle And Analyze Data - ['Twitter-Datasets']

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
</ul>

<a id='intro'></a>
# Introduction

### Datasets Description 

> **Datasets**:  
> 1- twitter-archive-enhanced  
> 2- tweet-json  
> 3- image-predictions  
**Source**: [Twitter udacity's guide](https://learn.udacity.com/nanodegrees/nd003-deci-data-l3-term1/parts/cd13708/lessons/5ecef54b-9caf-4ff8-9dda-e28aff8949d3/concepts/d6d55399-b6ef-472b-97a0-2231bfb73a9a?_gl=1*1y1n5es*_gcl_au*MTg3MjAzNjc3Ni4xNzQzNzE4Njg3*_ga*MTk5MTUzMDA5NC4xNzI3OTkzOTkx*_ga_CF22GKVCFK*MTc0NTg1NjAxNC4xODQuMS4xNzQ1ODU2NDE3LjYwLjAuMA..&lesson_tab=resources)   


### informations about the used datasets
<ul>
<li> there are 3 datasets that got extracted from twitter  
<li> the id in each dataset is related to the other datasets  
<li> the second dataset has json format
</ul>

<a id='wrangling'></a>
# Data Wrangling

## (1) Data Gathering

In [1]:
#First Data set

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,NaN,NaN,NaN,NaN
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,NaN,NaN,NaN,NaN
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,NaN,NaN,NaN,NaN
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,NaN,NaN,NaN,NaN
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,NaN,NaN,NaN,NaN,NaN
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,NaN,NaN,NaN,NaN
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,NaN,NaN,NaN,NaN
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,NaN,NaN,NaN,NaN
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,NaN,NaN,NaN,NaN,NaN

In [2]:
#Second Data Set

,created_at,id,id_str,full_text,truncated,display_text_range,entities,extended_entities,source,in_reply_to_status_id,...,favorite_count,favorited,retweeted,possibly_sensitive,possibly_sensitive_appealable,lang,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status
0,2017-08-01 16:23:56+00:00,892420643555336193,892420643555336192,This is Phineas. He's a mystical boy. Only eve...,False,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,39467,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
1,2017-08-01 00:17:27+00:00,892177421306343426,892177421306343424,This is Tilly. She's just checking pup on you....,False,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,33819,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
2,2017-07-31 00:18:03+00:00,891815181378084864,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,False,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,25461,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
3,2017-07-30 15:58:51+00:00,891689557279858688,891689557279858688,This is Darla. She commenced a snooze mid meal...,False,"[0, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,42908,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
4,2017-07-29 16:00:24+00:00,891327558926688256,891327558926688256,This is Franklin. He would like you to stop ca...,False,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,41048,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2349,2015-11-16 00:24:50+00:00,666049248165822465,666049248165822464,Here we have a 1949 1st generation vulpix. Enj...,False,"[0, 120]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666049244999131136, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,111,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
2350,2015-11-16 00:04:52+00:00,666044226329800704,666044226329800704,This is a purebred Piers Morgan. Loves to Netf...,False,"[0, 137]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666044217047650304, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,311,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
2351,2015-11-15 23:21:54+00:00,666033412701032449,666033412701032448,Here is a very happy pup. Big fan of well-main...,False,"[0, 130]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666033409081393153, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,128,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
2352,2015-11-15 23:05:30+00:00,666029285002620928,666029285002620928,This is a western brown Mitsubishi terrier. Up...,False,"[0, 139]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666029276303482880, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,132,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
2353,2015-11-15 22:32:08+00:00,666020888022790149,666020888022790144,Here we have a Japanese Irish Setter. Lost eye...,False,"[0, 131]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666020881337073664, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,2535,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN

In [3]:
#Third Data Set

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

## (2) Data Assessment

#### First --> Visual Assessment

in the first dataset (df_1):  
- there are many distributed null values
- in the 'source' column the html <a> tag is printed with the link

in the second dataset (df_2):
- the presence of null values
- html tag problem in the 'source' column
- 'entities' & 'extended_entities' column have a collection of data in dictionary type
- the inaccurate names of some columns as 'favorite_count'
- many 0 values in 'possibly_sensitive' & 'possibly_sensitive_appealable' columns

in the third dataset (df_3)
- inaccurate column names

In [60]:
#the whole null values in the dataset

20915

#### Second --> Programmatic Assessment
#### Data-assessment-issues
--Quality--

- Completeness  

df_1
columns:   
'in_reply_to_status_id', 'in_reply_to_user_id', 'retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp', ('doggo', 'floofer', 'pupper', 'puppo' ---> imp)  
have more than 90% of null values  
'name' --> 745 null values, 'expanded_urls' --> 59 null values

df_2  
columns:  
('extended_entities' --> 12% null , 'possibly_sensitive' & 'possibly_sensitive_appealable' --> 6% null)  
('in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'retweeted_status' --> more than 90% null)  
('geo', 'coordinates', 'place', 'contributors' , 'quoted_status_id', 'quoted_status_id_str', 'quoted_status'--> mostly 100% null)  

df_3  
has no nulls  

---------
- Validity

df_1  
Convert to string:  
"tweet_id", "in_reply_to_status_id", "in_reply_to_user_id", "retweeted_status_id", "retweeted_status_user_id"

Convert to datetime:  
"timestamp", "retweeted_status_timestamp"

Convert to category:  
"doggo", "floofer", "pupper", "puppo"

duplicates:  
'source' in df_1 has html tag problem (NOTE: for me this column does not provide any meaningful variability but i won't drop it in the df_2 and will merge it later in the whole dataset)  


df_2  
Convert to string:  
"id", "id_str", "in_reply_to_status_id", "in_reply_to_status_id_str", "in_reply_to_user_id", "in_reply_to_user_id_str", "quoted_status_id", "quoted_status_id_str"

Convert to category:  
"lang"


df_3  
Convert to string:
"tweet_id"

---------
- Consistency  
no issues found
---------

- Accuracy  

column inaccurate names:  
df_1 --> 'expanded_urls', 'timestamp' to created_at  
df_2 --> 'favorite_count', 'favorited'  
df_3 --> 'p1', 'p2', 'p3'  

'id_str' in df_2 has different ids (id_Str is the invalid one, i compared it with the other datasets according to timestamp & id, so it better to remove id_str & i will change the type of 'id' column anyway)

'text' column have rows that start with RT which may not get the original tweets valid analysis  

---------

--tidiness--  

df_1  
'rating_numerator' & 'rating_denominator' are separated   
  
'doggo', 'floofer', 'pupper', 'puppo' for dog stage are separated  


df_2  
'entities', 'extended_entities' are observations instead of columns  


the whole datasets needs to be collected in one dataset

---------

## (3) Data Cleaning

#### all mentioned issues are cleaned

In [50]:
#part of the whole data sets after merging and cleaning

,tweet_id,created at,text,dog_photo_url,name,download source,rating,dog_stages,full_text,truncated,...,img_num,model_1_prediction,p1_conf,p1_dog,model_2_prediction,p2_conf,p2_dog,model_3_prediction,p3_conf,p3_dog
0,892420643555336193,2017-08-01 16:23:56+00:00,This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,Phineas,http://twitter.com/download/iphone,13/10,UNKNOWN,This is Phineas. He's a mystical boy. Only eve...,False,...,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False
1,892177421306343426,2017-08-01 00:17:27+00:00,This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,Tilly,http://twitter.com/download/iphone,13/10,UNKNOWN,This is Tilly. She's just checking pup on you....,False,...,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True

Initial issues are solved:   

- Completeness --> df_1 & df_2: Over 90% nulls in   
- Validity --> Columns like tweet_id and timestamp needed type conversion & Dog stage columns were merged into a single dog_stages column.   
- Accuracy --> inaccurate column names were renamed for clarity   
timestamp -> created_at   
expanded_urls -> dog_photo_url   
p1, p2, p3 -> model_1_prediction, etc.   
- Multiple columns (dog stages, ratings) were combined for consistency.
- All three datasets were merged into one master DataFrame containing all cleaned, necessary information.
- all rows in 'text' column that start with RT are removed so u can get the original tweets from the master dataset

### Limitations

- WeRateDogs uses inconsistent rating logic, which may not be suitable for objective analysis or predictive modeling.
- The predictions for dog breeds are not 100% accurate (for example: p2 and p3 models The model may predict objects like: banana, spatula)
- Majority of tweets came from iPhone users (http://twitter.com/download/iphone)